In [18]:
import pandas as pd
import pymongo

In [20]:
db = pymongo.MongoClient("mongodb://student:student00@ds259241.mlab.com:59241/usc-test")

In [118]:
db
mydb = db["usc-test"]
nobel = mydb["nobel"]

In [98]:
nobel.count_documents({})

922

In [115]:
nobel_df = pd.DataFrame(list(nobel.find()))
print(type(nobel_df['_id']))
nobel_df.loc[nobel_df['id']=='39']
# nobel_df.loc[nobel_df['_id'].str.contains('5b2e92a4367234724fe5ca38')]
# nobel_df.loc[nobel_df['id']=='39']['_id']

<class 'pandas.core.series.Series'>

,_id,born,bornCity,bornCountry,bornCountryCode,died,diedCity,diedCountry,diedCountryCode,firstname,gender,id,new_array,new_score_array,prizes,surname
48,5b2e92a4367234724fe5ca38,1887-08-12,Vienna,Austria,AT,1961-01-04,Vienna,Austria,AT,Erwin,male,39,"[almond, crimson, jade]","[77.0, 80.0, 90.0, 10.0]","[{'year': '1933', 'category': 'physics', 'shar...",Schrödinger

In [100]:
p = list(nobel.find( { "new_array": {"$all":["crimson"] } }).limit(1))
p
c = nobel.count_documents({"$or": [{ "new_score_array": { "$size": 0} }, 
                          { "new_score_array": { "$size": 1} },{"new_score_array": { "$size": 2}}]})
c

9

In [96]:
d = nobel.count_documents({'prizes.category':"physics"})
d

206